/* Extra small devices (portrait phones, less than 576px)*/

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.navbar-dark, .bg-dark {
    background-color: rgba(0,0,0,1) !important;
}
nav:hover nav ul:hover, nav li:hover, nav a:hover {
    color: red !important;
    background-color: inherit !important;
}
.dropdown-menu, .dropdown-item {
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
}
body {
    background-color: rgba(50,50,50,1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}
.btn {
    border: 2px solid red;
}

.btn {padding: .340rem .75rem;}
.btn-outline-success {color:white;border-color:white}
.btn-outline-success:hover{color:#fff;background-color:red;border-color:red}
.btn-outline-success.focus,.btn-outline-success:focus{box-shadow:0 0 0 .2rem rgba(255,0,0,0.5)}
.btn-outline-success.disabled,.btn-outline-success:disabled{color:red;background-color:transparent}
.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active,.show>.btn-outline-success.dropdown-toggle{color:#fff;background-color:red;border-color:red}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(255,0,0,0.5)}

.cardButton {background-color:rgba(0,0,0,0.6)}

.carousel-caption {
    position:absolute;
    bottom:0px;
    left:10%;
    z-index:10;
    padding-top:20px;
    padding-bottom:10px;
    color:#fff;
    text-align:left;
}
.h1, h1 {
    font-size:1.5rem
}
.carousel-indicators li {
    width:30px;
    height:3px;
    margin: 0 3px;
    border-top:0px !important;
    border-bottom:0px !important;
}
.carousel-indicators {
    position:absolute;
    right:0;
    bottom:-5px;
    left:0;
}
.carousel-caption h1, .carousel-caption p {
    text-shadow: 0px 0px 4px black;
}
.carousel-control-prev {
    left:-15px;
}
.carousel-control-next {
    right:-15px;
}
.heroTextBox {
    color: white;
    margin: 20px;
    text-align: center;
}
.heroButton1 {
    float: right;
    margin-right: -26px;
}
.heroButton2 {
    float: left;
    margin-left: 26px;
}
.jumbotron {
max-height: 400px;
overflow: hidden;
margin-top: 10px;
margin-bottom: 10px;
background-color: rgba(0,0,0,0.5);
background-image: url(images/action2.jpg);
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
background-origin: padding-box;
background-blend-mode: overlay;
}
.h3,h3 {
    font-size:1rem
}
.cardText {
    font-size: 1.5rem;
}
.jumbotronCaption {
    text-shadow: 0px 0px 4px black;
}
.card1 {
    background-color: rgba(0,0,0,0.25);
    background-image: url(images/barbellFloorRack.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-origin: padding-box;
    background-blend-mode: overlay;
}
.card2 {
    background-color: rgba(0,0,0,0.25);
    background-image: url(images/foamRoller1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-origin: padding-box;
    background-blend-mode: overlay;
}
.card3 {
    background-color: rgba(0,0,0,0.25);
    background-image: url(images/gymnasticRings1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-origin: padding-box;
    background-blend-mode: overlay;
}
.card4 {
    background-color: rgba(0,0,0,0.25);
    background-image: url(images/woodenJumpBox.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-origin: padding-box;
    background-blend-mode: overlay;
}
.card5 {
    background-color: rgba(0,0,0,0.25);
    background-image: url(images/barbellFullWidth.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-origin: padding-box;
    background-blend-mode: overlay;
    height: 90px !important;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover {
    background-size: 110% auto;
    background-color: rgba(0,0,0,0)
}

.homeCard {
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    transition-duration: 150ms;
    cursor: pointer;
}
.homeCard p {
    z-index: 11;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.cardText {
    color: black;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 6px white;
}
.cardText5{
    padding-top: 23px;
}
.card a:hover {
    text-decoration: none;
    text-decoration-color: red;
}
.myFooter {
    background-color: black;
}
.footerLink {
    color: white;
    text-decoration: none;
    text-align: center;
}
.footerLink:hover, .footerItem a:hover{
    color: red;
    text-decoration: none;
}
.footerColumn1 {
    border-right: 1px solid white;
    text-align: center;
    padding: 0;
    margin: 20px 0;
}
.footerColumn2 {
    border-right: 0px solid white;
    border-left: 1px solid white;
    text-align: center;
    padding: 0;
    margin: 20px 0;
}
.footerColumn3 {
    border-left: 0px solid white;
    text-align: center;
    padding-top: 10px;
    margin: 20px 0;
}
.footerItem {
    text-align: center;
    line-height: .5em;
    margin-bottom: 0;
    padding: 0;
}
.footerItem a {
    text-decoration: none;
    color: white;
}

/* First-tier product selection page */

.productCardImg {
overflow: hidden;
background-color: rgba(255,255,255,1);
background-repeat: no-repeat;
background-size: 100% auto;
background-position: center;
background-origin: padding-box;
width: 100%;
height: 100%;
border-radius: inherit;
}
.productDisplay {
 background-color: white;
 border: 1px solid white;
 border-radius: 3px;
 width: 100%;
}
.productDisplayCaption {
    height: 30px;
    text-align: center;
    color: black;
}
.cardImgBox {
    overflow: hidden;
    max-height: 250px;
    min-height: 16 0px;
    width: 100%;
}
.card-img-top {
    height: auto;
    width: 100%;
    margin: auto;
}
.card-footer {
    padding: 5px;
}
.productCard {
    margin: 10px 0 25px 0;
    background-color: rgba(255,255,255,0);
    color: white;
    border: 0px solid white;
}
.card-footer {
    background-color: rgba(255,255,255,0);
    border: 0px solid white;
}
.card-footer a {
    color: white;
}
.card-footer a:hover {
    color: red;
    text-decoration: none;
}
.breadcrumb a {
    color: rgba(0,0,0,0.5);
}
.breadcrumb li {
    color: rgba(0,0,0,1);
}

/* Singular product page */

.productSpecs {
    border: 2px solid white;
    width: 100%;
    height: auto;
    color: white;
    overflow: hidden;
    margin-top: 15px;
}
.productSpecs hr {
    border-color: white;
}
.productSpecs p {
    line-height: 0.5em;
}
.productPageImg {
    width: 100%;
    height: auto;
}
.productOrderBtn {
    margin-top: 15px;
}
.productOrderBtn a {
    font-size: 1.5em;
    background-color: red;
}
.productOrderBtn a:hover {
    color: black;
}
.relatedItems {
    padding-top: 15px;
    color: black;
    font-size: 2.5rem;
}
.productPageRule {
    border-bottom: 3px solid white;
    margin-top: 45px;
    margin-bottom: 5px;
}

/* Everything related to the modal carousel */

.productPageCarousel {
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
.carousel-item {
    height: 300px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}
.carousel-item img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}
.close {
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 1111;
}
.close p {
    font-size: 2em;
    color: white;
}
.modal-content {
    background-color: rgba(0,0,0,0);
    border: none;
}
.modalPreviewBox {
    cursor: pointer;
    height: 50px;
    overflow: hidden;
}
.productModalImg {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 0;
    object-fit: cover;
}

/* Plate product page */

table, th, td {
    border-collapse: collapse;
    border: 2px solid white;
}
th, td {
    padding: 5px;
    text-align: center;
}
.plateTable {
    margin-bottom: 20px;
}
.secondarySpecs1 {
    margin: 0;
    padding: 0;
    width: 100%;
}
.secondarySpecs2 {
    margin: 0;
    padding: 0;
    width: 100%;
}
.productSpecs2 {
    margin-top: -15px;
}
.infoGlyph {
    height: 20px;
    width: auto;
    margin-top: -8px;
    margin-left: 10px;
    position: absolute;
    top: 0;
    cursor: pointer;
}
.cartIcon {
    height: 35px;
    width: 35px;
    background-color: white;
}
.cartIcon:hover {
    color: black;
    background-color: red;
}





/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .h3,h3{font-size:1.25rem}
    .cardText {
        font-size: 1.75rem;
    }
.productSpecs {
    margin-top: 20px;
}
.modalPreviewBox {
    height: 66px;
}
.productPageCarousel {
    width: 95%;
    height: 300px;
}
.carousel-item {
    height: 300px;
    width: 100%;
}
.plateTable {
    margin-top: -20px;
    margin-bottom: 25px;
}


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .h1,h1{font-size:2.5rem}
.carousel-caption {
    padding-bottom:20px;
    bottom: 20px;
}
.carousel-indicators li {
    width:30px;
    height:3px;
    margin-right:3px;
    margin-left:3px;
    border-top:10px solid transparent;
    border-bottom:10px solid transparent;
}
.carousel-control-prev {
    left:-10px;
}
.carousel-control-next {
    right:-10px;
}
.carousel-indicators {
    position:absolute;
    right:0;
    bottom: 0px;
    left:0;
}
.h3,h3 {
    font-size:1.25rem
}
.cardText {
    font-size: 1.75rem;
}
.jumbotron {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footerColumn1 {
    border-right: 1px solid white;
}
.footerColumn2 {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.footerColumn3 {
    border-left: 1px solid white;
}
.productSpecs {
    height: auto;
}
.productPageImg {
    height: 410px;
    object-fit: cover;
}
.productOrderBtn {
    margin-top: 20px;
}
.productOrderBtn a {
    margin-top: 5px;
    font-size: 1em;
}
.relatedItems {
    padding-top: 15px;
}
.productPageRule {
    margin-top: 25px;
    margin-bottom: 0px;
}
.modalPreviewBox {
    height: 95px;
}
.productPageCarousel {
    width: 90%;
    height: 400px;
}
.carousel-item {
    height: 400px;
    width: 100%;
}




}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .h3,h3{font-size:1.5rem}
.productSpecs {
    margin-top: 0;
    height: 341px;
}
.productSpecs p {
    font-size: 0.8rem;
}
.productSpecs hr {
    padding-top: 1px;
    padding-bottom: 1px;
}
.productPageImg {
    height: 341px;
    object-fit: cover;
}
.productOrderBtn {
    margin-top: 23px;
}
.productOrderBtn a {
    font-size: 1.7em;
}
.relatedItems {
    padding-top: 15px;
}
.modalPreviewBox {
    height: 80px;
}
.productPageCarousel {
    margin-top: 0;
    width: 85%;
    height: 500px;
}
.carousel-item {
    height: 500px;
    width: 100%;
}
.plateTable2 {
    margin-top: 5px;
}
.secondarySpecs1 p, .secondarySpecs2 p {
    font-size: 1rem;
}
.secondarySpecs1 {
    padding: 15px 0 15px 30px;
}
.secondarySpecs2 {
    padding: 15px 15px 15px 0;
}
.productSpecs2 {
    height: auto;
    margin-top: 0;
}
.infoGlyph {
    height: 20px;
    width: auto;
    margin-top: 7px;
}
.economyPlateTable th, .economyPlateTable td {
    padding: 1px;
}
.economyPlateThicknessTable th, .economyPlateThicknessTable td {
    padding: 1px;
}
.stripedPlateThicknessTable th, .stripedPlateThicknessTable td {
    padding: 2px;
}




}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.h3,h3 {
    font-size:1.75rem
}
.productSpecs {
    margin-top: 0;
    height: 410px;
}
.productSpecs p {
    font-size: 1rem;
}
.productSpecs hr {
    padding-top: 5px;
    padding-bottom: 5px;
}
.productPageImg {
    height: 410px;
    object-fit: cover;
}
.productOrderBtn {
    margin-top: 33px;
}
.productOrderBtn a {
    font-size: 1.9em;
}
.relatedItems {
    padding-top: 15px;
}
.modalPreviewBox {
    height: 95px;
    overflow: hidden;
}
.productPageCarousel {
    width: 80%;
    height: 600px;
}
.carousel-item {
    height: 600px;
    width: 100%;
}
.economyPlateTable th, .economyPlateTable td {
    padding: 4px;
}
.stripedPlateThicknessTable th, .stripedPlateThicknessTable td {
    padding: 5px;
}
.platePriceTable1 th, .platePriceTable1 td {
    padding: 8px;
}




}